* {
    --colorOne: #e0fbfcff;
    --colorTwo: #c2dfe3ff;
    --colorThree: #9db4c0ff;
    --colorFour: #5c6b73ff;
    --colorFive: #253237ff;
    --colorSix: #141c1f;
    --colorSeven: #192124;
    --colorEight: #3E484E;
    --colorNine: #0c7d8c;
    --colorTen: #084b54;
    --colorEleven: #F3FEFE;
    --colorTwelve: rgb(235, 250, 250);
}

.md_navBar {
    left: 0px;
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: #253237ff;
    z-index: 1;
}

.md_primaryScreen {
    width: calc(100% - 350px);
    height: 100vh;
    overflow-y: scroll;
    position:fixed;
    top: 0px;
    right: 0px;
    padding-left: 350px;
    z-index: 0;
}

.md_toolBar {
    width: 100%;
    height: 100px;
    padding: 20px 50px 20px 40px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorTwo);
    border-bottom: 2px solid #91c5cc;
}

.md_tk_greetingSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorSix);
    font-size: 30px;
    user-select: none;
}

#md_imgHolder {
    width: 60px;
    height: 60px;
    margin: 0px 25px 0px 0px;
}

.md_userIcon {
    width: 60px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.md_userIcon:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 7px #00000010;
}

.md_tk_button  {
    width: 150px;
    height: 50px;
    font-size: 15px;
    color: #f0fffe;
    background-color: var(--colorNine);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md_icon {
    width: 30px;
    padding-right: 10px
}

.md_tk_button:hover  {
    background-color: var(--colorTen);
    transform: scale(1.03);
    cursor: pointer;
}

.md_formBackground{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.md_formBackgroundActive{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #00000040;
    transition: all 0.7s ease-in-out;
}

.md_defHolder {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 3;
    background-color: var(--colorEleven);
    overflow-y: auto;
    border-left: 2px solid (--colorOne);
    box-shadow: 0px 0px 15px 10px #48484846;
    transition: all 0.5s ease-in-out;
}

.md_defHolder_active {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: var(--colorEleven);
    overflow-y: auto;
    border-left: 2px solid (--colorOne);
    box-shadow: 0px 0px 15px 10px #1b1b1b46;
    padding: 40px 40px 40px 35px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.md_panel_greetingHolder {
    width: 100%;
    height: fit-content;
    margin: 0px 0px 40px 0px;
}

#md_panel_sectionLabel {
    font-weight: 500;
    margin: 0px 0px 10px 7.5px;
}

#md_panel_name {
    font-weight: 600;
}

#md_panel_greeting_subheading {
    color: #192124;
    font-size: 16px;
    margin-top: 5px;
}

.md_panelInput {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 12.5px 0px 0px 0px;
    box-sizing: border-box;
    border: 1px solid #3e484e24;
    border-radius: 10px;
    font-weight: 500;
}

.md_panelDropMenu {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 12.5px;
    border: 1px solid #3e484e24;
    border-radius: 10px;
}

.md_panel_credentialSection {
    margin: 50px 0px 0px 0px;
}

.md_panel_optionalDataSection {
    margin: 50px 0px 0px 0px;
}

.md_panel_commentSection {
    height: 100px;
}

.md_panelControlButtons {
    width: 100px;
    height:40px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.md_panel_submitButtonHolder {
    display: flex;
    justify-content: end;
    align-items: center;
}

.md_panel_saveButton {
    color: white;
    margin: 20px  5px 0px 0px;
    background-color: var(--colorFive);
    transition: background-color 0.2s ease-in-out;
}

.md_panel_saveButton:hover {
    background-color: var(--colorTen);
}


.md_panel_cancelButton {
    transition: border-color 0.2s ease-in-out;
    background-color: transparent;
}

.md_panel_cancelButton:hover {
    border-color: var(--colorTen);
}

.md_logins_section {
    padding: 40px;
    box-sizing: border-box;
}

.md_loginsHeading {
    font-weight: 500;
    color: #3c3c3c;
}

.md_login_DataList {
    margin: 30px 0px 0px 0px;
}

.md_savedEntry {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.md_savedEntry:hover {
    background-color: var(--colorTwelve);
    border: 1px solid #0c7d8c;
}

.md_savedEntryStaticData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md_savedEntryInfoSection {
    display: flex;
    justify-content: start;
    align-items: center;
}

.md_savedEntryIcon {
    width: 45px;
    height: 45px;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--colorFive);
    user-select: none;
}

.md_savedEntryHighlitedLabel {
    margin-left: 20px;
    user-select: none;
}

.md_savedEntryDropIcon {
    user-select: none;
    width: 30px;
    transition: all 0.2s ease-in-out;
}

.md_savedEntryDropIcon:hover {
    transform: scale(1.2);
}

.detailSection {
    display: none;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.expanded .detailSection {
    display: block;
}

.detailSection {
    margin-top: 10px;
}

.dropDetailSection {
    width: 80%;
    height: fit-content;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.md_dropDetailList {
    list-style-type: none;
}

.md_dropSectionDetailHeadings {
    font-size: 22.5px;
    font-weight: 500;
    margin-bottom: 15px;
}

.md_dropSectionDataValueLabel {
    font-size: 18px;
    margin-bottom: 8px;
    user-select: none;
}

.md_dropDatValue {
    font-size: 15px;
    font-style: italic;
    user-select: all;
    color: #444444;
}

.md_controllButtons {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md_buttons{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md_panel_cancelIconHolder {
    margin: 0px 0px 20px 0px;
}

.md_panel_cancelIcon {
    width: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.md_panel_cancelIcon:hover {
    width: 20px;
    transform: scale(1.2);
}